<div class="card position-fixed" style="z-index: 1000">
    <div class="card-body" style="height: 100%">
        <form [formGroup]="formGroup" (submit)="save()">
            <label class="label" for="content">
                <span>O que está acontecendo?</span>
                <textarea (paste)="$event.preventDefault()" (keydown)="preventTyping($event)" #content id="content"
                          formControlName="content" [style.height.px]="content.scrollHeight"></textarea>
            </label>
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column">
                    <button type="submit" class="" [disabled]="formGroup.invalid">Tweetar</button>
                    <div *ngIf="getFormGroupEntry('content')?.dirty && getFormGroupEntry('content')?.invalid">
                        <p class="text-danger fw-bold fst-italic"
                           *ngIf="getFormGroupEntry('content')?.hasError('maxlength')">
                            Não pode conter mais do que 130 caracteres
                        </p>
                    </div>
                </div>
                <div class="text-end">
                    {{130 - getFormGroupEntry('content')?.value?.length}}
                </div>
            </div>
        </form>
    </div>
</div>
