.card {
  max-width: 35%;
  width: 100%;
}

form {

  label {
    width: 100%;

    span {
      font-size: 2rem;
      color: #808080FF;
    }
  }

  textarea {
    border: none;
    overflow: hidden;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    width: 100%;
    margin-top: 1rem;
    height: 28px;
    min-height: 28px;
    border-bottom: 1px #0000002D solid;
  }

  button[type='submit'] {
    border-radius: 24px;
    background-color: #1DA1F2;
    color: #FFFF;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    text-align: center;
    width: 8rem;

    height: 48px;
    padding-inline: 16px;

    &:disabled {
      opacity: .6;
      cursor: default;
    }
  }

}
