<section id="content" class="p-3">
    <h3>Tem certeza que deseja excluir esta publicação?</h3>
    <div class="d-flex justify-content-between mt-5">
        <button class="btn btn-danger w-100 me-2" (click)="dialogRef.close()">CANCELAR</button>
        <button class="btn btn-outline-success w-100 ms-2" (click)="dialogRef.close('confirm')">REMOVER</button>
    </div>
</section>
