<div class="card timeline position-absolute" *ngIf="posts?.length">
    <div class="card-body">
        <div class="post d-flex" *ngFor="let post of posts">
            <img [alt]="" [src]="post.author.photo" class="img-fluid author-photo align-self-center"/>
            <div class="d-flex flex-column justify-content-center ps-2 pe-2 w-100">
                <div class="d-flex justify-content-between">
                        <span>
                        <b>{{ post.author.name }} </b>
                        <span class="metadata">{{post.author.username}} </span>
                        <span class="metadata"> {{post.created_at}} </span>
                    </span>
                    <img src="assets/icons/trash.png" alt="" class="destroy" (click)="delete(post)">
                </div>
                <section>
                    <pre>{{ post.content }}</pre>
                </section>
            </div>
        </div>
    </div>
</div>
