.timeline {
  z-index: 0;
  margin-top: 20rem;
  max-width: 35%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
  .card-body {
    padding-bottom: 0;
  }

  .post {
    min-height: 5rem;
    height: auto;
    margin: .5rem 0;

    .author-photo {
      width: 3rem;
      height: 3rem;
    }

    .metadata {
      color: #808080FF;
      font-size: .9rem;
    }

    border-bottom: 1px #0000002D solid;

    .destroy {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }

  }
}
